header {
  height: 6.625rem;
  display: flex;
  align-items: center;
  padding-left: 4rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  h2 {
    font-family: 'Chela One', cursive;
    font-size: 2.625rem;
    color: rgba(0, 0, 0, 0.85);
  }
}